<!DOCTYPE html>
<html>
  <head>
    <title>Sblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark"><%=link_to "Home", home_path%></span>
    <span class="p-2 text-dark"><%=link_to "About Us", about_path%></span>
    <span class="p-2 text-dark"><%=link_to "New Post", new_post_path%></span>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
 <div class="container">
  <%= yield %>
  </div>
  </body>
</html>

